<p class='lead'>
  All Scripts
  <hr/>
</p>

<% @scripts.each do |script| %>
<div class="row">
  <div class='span8 well'>
    <h4><%= script.title %></h4>
    <p><%= script.body %></p>
  </div>
</div>
<% end %>

