<body>
  <div class="span8 well">
    <h1>Hello</h1>
    <div class='nav-item'>
      <%= link_to 'Register', register_path, class: 'btn btn-success btn-small' %>
    <div class='nav-item'>
      <%= link_to 'Log in', login_path, class: 'btn btn-small' %>
    </div>
  </div>
</body>
