<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">HGR</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Scripts</a></li>
      <li><a href="#">TM Actions</a></li>
      <li><a href="#">Notes</a></li>
    </ul>
  </div>
</div>
