<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">HGR</a>
    <ul class="nav">
      <li>
        <%= link_to "Home", root_path %>
      <li>
        <%= link_to "Scripts", scripts_path %>
      </li>
      <li>
        <%= link_to "Telemarketer Actions", telemarketer_actions_path %>
      </li>
      <li><a href="#">Notes</a></li>
    </ul>
  </div>
</div>
